# u-blox GNSS receivers used through libusb.
SUBSYSTEM=="usb", ATTR{idVendor}=="1546", ATTR{idProduct}=="01a9", MODE:="0666", TAG+="uaccess", GROUP="plugdev"
